{% extends 'base.html' %}
{% block content %}


{% if request.user.profile.is_staff %}
<h1 style="color:red">Staff</h1>
{% endif %}

{% if object.active_day %}
<h1 style="color: green;">On-site</h1>
<h3><a href="{% url 'day_update_view' object.active_day.id %}">Are you picking up {{ child.first }}?</a></h3>
{% else %}
<h3><a href="{% url 'day_create_view' object.id %}">Are you dropping off {{ child.first }}?</a></h3>
<h4 style="color: red;">Off-site</h4>
{% endif %}



{% if request.user.profile.is_staff %}
{% for day in object.day_set.all %}
<p>({{ day }})</p>
<br>
{% endfor %}
{% endif %}

{% endblock %}
